.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 95vh;
  width: 95vw;
}

.navbar {
  display: flex;
  height: 10%;
  width: 100%;
}

.mainContent {
  display: flex;
  height: 90%;
  width: 100%;
}

#chooseTheme {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
}

#showTheme {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
}